.root {
  min-height: 500px;
  height: calc(100vh - 7rem);
  width: 100%;
}

.contentWrapper {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 64px 16px 24px 16px;
}

.authorTitle {
  margin-bottom: 24px;
  margin-top: 40px;
}

.author {
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  .authorImg {
    width: 200px;
    height: 180px;
    margin-right: 32px;
  }

  .authorInfo {
    display: flex;
    flex-direction: column;
  }
}
