.root {
  min-height: 500px;
  height: calc(100vh - 7rem);
  width: 100%;

  p {
    width: 90%;
    word-wrap: break-word;

    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
}

.contentWrapper {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 1.5rem 3rem;

  overflow: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    padding: 4rem 2rem 1.5rem 2rem;
   }
}

.authorTitle {
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}

.author {
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;

  .authorImg {
    width: 200px;
    height: 180px;
    margin-right: 2rem;

    @media only screen and (max-width: 768px) {
      width: 150px;
      height: 135px;
     }

     @media only screen and (max-width: 576px) {
      width: 90px;
      height: 70px;
     }
  }

  .authorInfo {
    display: flex;
    flex-direction: column;
  }
}
