@import '../../constants/variables.scss';

.root {
  background: #282f38;
  max-width: 43.75rem;
  margin: 1.5rem 0;
  padding: 0.5rem 1rem 1rem 1rem;
  white-space: pre-wrap;
  border-radius: 5px;

  & pre {
    background: #f2f2f2;
    border-radius: 0.25rem;
    padding: 0 1rem 1.5rem 1rem;
    color: #0d1117;
    font-size: 0.875rem;
  }

  & .code {
    width: 100%;
    margin-bottom: 1rem;
    background: #dbdbdb;
    overflow-x: auto;
  }

  & .console {
    display: flex;
    flex-direction: column;

    pre {
      overflow-x: auto;
    }

    & p {
      margin-bottom: 0.5rem;
    }
  }

  & .options {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  & .actions {
    display: flex;
  }

  & .codeActions {
    margin: 0 0.5rem;
    cursor: pointer;

    & i {
      font-size: 1rem;
    }

    & i:hover {
      color: $primary-color-light;
    }
  }
}
