.root {
  height: 4rem;
  width: 100%;
  background-color: #161b22;
  padding: 0 32px;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

  & img {
    height: 100%;
    width: 100%;
  }
}

.nav {
  margin-left: auto;

  & a {
    text-decoration: none;
    margin-left: 32px;
    font-weight: 600;

    &:hover {
      color: gray;
    }
  }
}
