@import '../../constants/variables.scss';

.root {
  height: 4rem;
  width: 100%;
  background-color: $primary-color-medium;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

  & img {
    height: 100%;
    width: 100%;
  }
}

.nav {
  margin-left: auto;

  & a {
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 600;

    &:hover {
      color: $primary-color-light;
    }
  }
}
