.root {
  height: calc(100vh - 112px);
  width: 100%;
  display: flex;

  & a {
    text-decoration: none;
  }
}

.tableOfContents {
  height: calc(100vh - 112px);
  width: 20%;
  border-right: rgb(22, 27, 34) solid 2px;
  padding: 24px 16px 16px 16px;
  overflow-y: auto;
}

.currentLesson {
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 24px 32px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.lesson {
  margin-bottom: 8px;
}

.lessonInit {
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;

  & a {
    color: rgb(5, 223, 223);
  }

  & a:hover {
    color: aqua;
  }
}

.sublesson {
  margin-left: 16px;
  font-size: 12px;
  cursor: pointer;

  & a {
    color: rgb(5, 223, 223);
  }

  & a:hover {
    color: aqua;
  }
}

.subsublesson {
  margin-left: 32px;
  font-size: 12px;
  cursor: pointer;

  & a {
    color: rgb(5, 223, 223);
  }

  & a:hover {
    color: aqua;
  }
}

.subsubsublesson {
  margin-left: 48px;
  font-size: 12px;
  cursor: pointer;

  & a {
    color: rgb(5, 223, 223);
  }

  & a:hover {
    color: aqua;
  }
}
